# Maven
target/
**/dependency-reduced-pom.xml

# Eclipse
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml

# Xalan: "Ant emulation" directories for xalan-test and distribution,
# generated XPath parser/lexer code in xsltc
build/
lib/
**/xsltc/compiler/XPathLexer.java
**/xsltc/compiler/XPathParser.java
**/xsltc/compiler/sym.java
