# Maven
target/ 
**/dependency-reduced-pom.xml

# Eclipse
.settings/
.project

# IntelliJ IDEA
.idea/

# Xalan
build/
**/xsltc/compiler/XPathLexer.java
**/xsltc/compiler/XPathParser.java
**/xsltc/compiler/sym.java
