name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners
# GitHub Actions does not support Docker, PostgreSQL server on Windows, macOS :(

concurrency:
  # On master/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ github.ref == 'refs/heads/trunk' && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Java 8'
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout xalan-java'
      uses: actions/checkout@v3
    - name: 'Set up JDK 8'
      uses: actions/setup-java@v2
      with:
        distribution: zulu
        java-version: 8
    - name: 'Build Xalan jars'
      run: |
        ant jar
    - uses: actions/checkout@v3
      name: 'Checkout xalan-test'
      with:
        repository: apache/xalan-test
        path: xalan-test
        ref: master
    - name: 'Run xalan-test tests'
      working-directory: xalan-test
# NOTE: "alltest" target includes conformance tests known not to run in Xalan,
# as well as having dependencies on some targets which have since been edited
# out. The following is our typical minimal build test as documented in README,
# minus conf.xsltc since that one is currently throwing four known failures and
# isn't set up to say "but that's not a regression".
      run: |
        ant jar extensions.classes smoketest apitest -Dxalan.relpath=../ -Dparserjar=../lib/endorsed/xercesImpl.jar -Dxml-apis.jar=../lib/endorsed/xml-apis.jar

    - id: build_artifacts
      working-directory: .. 
      run: |
        ant fulldist
